<nav>
    <div>
            <div>
                <a [routerLink]="['/']">Alaa</a>
            </div>
            <ul>
                <li><a [routerLink]="['/']" >Home</a></li>
                <li>
                    <a [routerLink]="['/auth/signin']" class="btn btn-primary">Sign In</a>
                </li>
                <li>
                    <a [routerLink]="['/auth/signup']" class="btn btn-light text-primary">Sign Up</a>
                </li>
                <li>
                    <select name="" id="">
                        <option value="">En</option>
                        <option value="">Fr</option>
                        <option value="">Ar</option>
                    </select>
                </li>
            </ul>
    </div>
</nav>
