footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    color: #fff;
    height: 200px;
}

span{
    border-top: 1px solid #efefef;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}